<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ratr.matemaatik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Matemaatik"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matemaatik">
        <activity android:name=".ExerciseSettingsActivity"></activity>
        <activity
            android:name=".ExerciseScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>